*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.avt{
    width: 150px;
    height: 150px;
    background-color: gainsboro;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

h1{
    text-align: center;
    margin: 30px auto 100px;
    font-weight: 800;
    font-size: 30px;
    color: rgb(24, 24, 24); 
}

.main{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 0 30px;
    color: rgb(24, 24, 24); 
}